.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cardTitle {
    margin: 0;
  }
  
  .cardBody {
    margin-bottom: 10px;
  }
  
  .tableContainer {
    overflow-x: auto;
    width: 100%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f0f0f0;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .inputSection {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .inputSection input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    max-width: 200px;
  }
  
  .inputSection button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .inputSection button:hover {
    background-color: #0056b3;
  }

  .currentAmount {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .filterSection {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .filterDropdown, .datePicker {
    margin-left: 10px;
    padding: 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pageButton {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pageButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .red {
    color: red;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .green {
    color: green;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .downloadButton {
    margin-top: 2px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .downloadButton:hover {
    background-color: #0056b3;
  }
  