.purchases-table-container {
  padding: 20px;
  text-align: center;
  margin-top: 0;
  }
  
  .purchases-table-container h1 {
    background-color: #f8ec0c;
    margin-bottom: 3px;
    color: black;
    padding: 20px;
    border: 4px solid black;
    border-radius: 30px;
  
  }
  
  .purchases-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .purchases-table th,
  .purchases-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .purchases-table tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  .purchases-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .purchases-table th {
    background-color: #f8ec0c;
  }
  
  .purchases-table tfoot td {
    background-color: #f2f2f2;
  }
  
  .footer-cell {
    font-weight: bold;
    text-align: left;
  }
  