.sales-table-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .sales-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .sales-table th, .sales-table td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .sales-table th {
    background-color: #009879;
    color: white;
  }
  
  .sales-table tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  .sales-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  

  .negative-profit {
    background-color: rgba(192, 76, 76, 0.848);
    color: white;
  }
  
  .positive-profit {
    background-color: rgba(102, 168, 102, 0.979);
    color: white;
  }

  .orange-light{
    background-color: lightsalmon;
  }
  
  .footer-cell {
    font-weight: bold;
    text-align: right;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .sales-table tfoot tr {
    border-top: 2px solid #ddd;
  }
  
  .sales-table-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }