
.sell-container {
  margin: 20px;
}

.form-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-field {
  margin: 5px;
  padding: 10px;
  width: 150px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wide-input {
  width: 200px; /* Adjust as needed */
}

.submit-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sales-table-container {
  margin-top: 20px;
}

.sales-table {
  width: 100%;
  border-collapse: collapse;
}

.sales-table th, .sales-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.sales-table th {
  background-color: #f2f2f2;
}

.sales-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sales-table tr:hover {
  background-color: #ddd;
}

.exceeding-stocks-warning {
  color: red;
  margin-top: 5px;
}

.available-stocks {
  margin-bottom: 10px;
}
