.sell-container {
  width: 1090px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 40px 40px 40px 40px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h3 {
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin: 0 0 5px;
  font-size: 1em;
  color: #555;
}

.available-stocks, .net-profit {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.available-stocks h6, .net-profit h6 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.date-filter {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.date-filter label {
  margin-right: 10px;
  font-size: 1em;
  color: #333;
}

.date-filter select {
  padding: 5px 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.date-filter select:focus {
  outline: none;
  border-color: #007BFF;
}


.form-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-field {
  margin: 5px;
  padding: 10px;
  width: 150px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wide-input {
  width: 200px; /* Adjust as needed */
}

.submit-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sales-table-container {
  margin-top: 20px;
}

.sales-table {
  width: 100%;
  border-collapse: collapse;
}

.sales-table th, .sales-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.sales-table th {
  background-color: #f2f2f2;
}

.sales-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sales-table tr:hover {
  background-color: #ddd;
}

.exceeding-stocks-warning {
  color: red;
  margin-top: 5px;
}

.available-stocks {
  margin-bottom: 10px;
}
.delete-btn {
  background-color: #dc3545;
  color: white;
}

.negative-profit {
  background-color: rgba(192, 76, 76, 0.848);
  color: white;
}

.positive-profit {
  background-color: rgba(102, 168, 102, 0.979);
  color: white;
}

.orange-light{
  background-color: lightsalmon;
}


