.buy-btn{
    background-color: red;
}

.buy-btn:hover{
    background-color: rgb(189, 97, 97)(125, 62, 62);
}

.sale-btn{
    background-color: green;
}

/* styles.css */
.category {
    display: block;
    width: 100px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .category:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }

  .container-input-category{
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
  }

  .add-category-btn{
    margin: 20px;
  }
  