.container-input-category{
  width: 300px;
  height: 100px;
  margin-left: 40%;
  margin-top: 1%;
}

.add-category-btn{
 margin-left: 100%;
 margin-bottom: -19%;
 font-size: 32px;
}

.input-category{
  margin-top: -2%;
   font-size: 32px;
   font-family: monospace;
   font-style: italic;
}

.Container-button{
  flex-direction: row;
  flex-wrap: wrap;
}

.category-btn{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
  font-family: monospace;
 font-style: italic;
}

.buy-btn:hover{
  background-color: green;
}

.sale-btn:hover{
  background-color: red;
}